         
         .btn-grad {
          background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
          margin: 10px;
          padding: 10px 50px;
          text-align: center;
          text-transform: uppercase;
          transition: 0.5s;
          background-size: 200% auto;
          color: white;            
          box-shadow: 0 0 20px #eee;
          border-radius: 30px;
          display: block;
          font-weight: bold;
          cursor: pointer;
        }

        .btn-grad:hover {
          background-position: right center; /* change the direction of the change here */
          color: #fff;
          text-decoration: none;
        }


       